*{
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 213, 213);
    max-height: 500vh;
    max-width: 500vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

.memoryGame {
    width: 1100px;
    height: 1000px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.scorePanel{
/*    position: absolute;*/
    width: 100%;
    padding: 10px;
    margin-bottom: x;
    display: flex;
    justify-content: space-between;
}

.scorePanel button {
    border-radius: 30px;
    font-family: monospace;
    font-size: 21px;
    padding: 1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    background: slategrey;
    outline: none;
    border: 1px solid grey;
    box-shadow: 2px 1px grey;
    font-weight: 600;
    color: whitesmoke;
}

.allButtons {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#flip-card {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 50px auto;

    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
  
    margin: 12px 12px;
  }
  
  .do-flip {
   transform: rotateY(-180deg);
  }

  #flip-card .flip-card-front, #flip-card .flip-card-back{
    width: 100%;
    height: 100%;
    position: absolute;
  
    backface-visibility: hidden;
    z-index: 2;
    box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  }

  
  .flip-card-front {
      position: absolute;
      margin: 0px 0px 0px 16px;
      height: 200px;
      width: 200px;
      background: #095a5a;
      border-radius: 5px;
      border: 5px; 
      box-shadow: 4px 2px 2px 1px grey; 
      color:  rgb(244, 205, 88);
  }
  
  
  .flip-card-back{
      margin: 0px 0px 0px 16px;
      height: 200px;
      width: 200px;
      background:  rgb(244, 205, 88);
      color:#095a5a;
      border-radius: 5px;
      border: 5px; 
      box-shadow: 4px 2px 2px 1px grey;
      transform: rotateY(180deg); 
  }
  

  h1 { 
    font-family: oswald;
    font-size: 25px;
    font-weight: 600;
 
    align-content: center;
    margin: 80px 0px 0px 4px;
  }

  .overLay{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hiddenOverlay{
        display: none;
        position: absolute;
        
        width: 100%;
        height: 60%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        
        cursor: pointer; 
  }

  .overLay h2{
    font-size: 6rem;
    font-family: sans-serif;
    color: white;
    
  }


    @media (max-width: 300px){
    .allButtons {
        grid-template-columns: repeat (2, auto);
    }

    .memoryGame {
        flex-direction: column;
        align-items: center;
    }

  }
