* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(219, 213, 213);
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;  
}

.memoryGame {
  width: 500px;
  height: 500px;
  /* margin: auto; */
  display: flex;

  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  perspective: 1000px;
    /*to add a 3d flip effect. 1000px is how far the element is in z-plane**/
}

.memoryCard {
  position: relative;
  margin: 5px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  /**animation**/
  transform: scale(1);
  transform-style: preserve-3d; /*based on perspective added above this will position it in 3d space*/
  transition: transform .5s; /*moves the card*/
}

/**animation when mouse goes over the card**/
.memoryCard:active {
  transform: scale(0.95);
  transition: transform .2s;
}

.frontFace,
.backFace {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: #095a5a;
  box-shadow: 4px 2px 2px 1px grey; 
  color:  rgb(244, 205, 88);

  backface-visibility: hidden; /*to see the back side of the card*/

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: oswald;
  font-size: 13px;
  font-weight: 600;
}

.frontFace {
  transform: rotateY(180deg);/*rotating the number side at 180deg. so it appears  on backside of card*/
}

.memoryCard.flip {
  transform: rotateY(180deg);/*the angle on which we will flip teh card*/
}



.hiddenOverlay{
       display: none; 
      position: absolute;
      
      width: 100%;
      height: 60%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 2;
      
      cursor: pointer; 
      flex-direction: row;
      align-items: center;
      justify-content: center;
}

.overLay h2{
  font-size: 4rem;
  font-family: sans-serif;
  color: white;
  margin: 95px;
}
  

header > .scorePanel {
  align-items: center;
}
.scorePanel {
  width: 100%;
  height: 100px;
}

button {
  width: 150px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
  
button:hover {
  background-color: #008CBA;
  color: white;
}
